// =================================================================================
// Base font sizing and leading
// =================================================================================
$font-size--base: 16px;

// =================================================================================
// Grid-specific variables
// =================================================================================
$grid--column-width: 60px;                                              // 60px
$grid--gutter-width: ($grid--column-width / 3);                         // 20px
$grid--unit:         ($grid--column-width + $grid--gutter-width);       // 80px
$grid--leading:      25px;

// =================================================================================
// Body sizing
// =================================================================================
$width--body:           (20 * $grid--unit); // 1600px
$bg-color--footer:      rgb(227, 227, 227);
$color--main:           rgb(132, 132, 132);
$offset--image-bottom: -(12.5 * $grid--leading);

// =================================================================================
// Footer
// =================================================================================
$width--footer-nav: ((6 * $grid--unit) + $grid--column-width);
$height--footer:    (5.25 * $grid--leading);

// =================================================================================
// Font stacks
// =================================================================================
$font-stack--pacifico:        Pacifico, cursive;
$font-stack--raleway:         Raleway, sans-serif;
$font-stack--helvetica-neue: 'Helvetica Neue', Helvetica, sans-serif;

// =================================================================================
// Font weights
// =================================================================================
$light:     300;
$regular:   400;
$semi-bold: 600;

// =================================================================================
// Image dimensions
// =================================================================================
$width--phone-image:  464px;
$height--phone-image: 806px;
$width--focus-logo:   68px;
